<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
</head>
<body>
    <header>
        <div class="header-links">
                <ul>
                    <li>
                        <img class="link-logo" src="../Elemen/Icon/phone-fill-header.svg" alt="" loading="lazy">
                        <a href="https://api.whatsapp.com/send/?phone=6282245515021&text&type=phone_number&app_absent=0" target="_blank">(+62)822 4551 5021</a>
                    </li>
                    <li>
                        <img class="link-logo" src="../Elemen/Icon/map-pin-header.svg" alt="" loading="lazy">
                        <a href="https://share.google/ThqnxXJIeSgoSLWhP" target="_blank">Rukan Mutiara Faza RB 1, Jl. Condet Raya No. 27, Jakarta Timur, DKI 13760</a>
                    </li>
                    <li>
                        <img class="link-logo" src="../Elemen/Icon/linkedin-header.svg" alt="" loading="lazy">
                        <a href="https://www.linkedin.com/in/stratalift-solutions-a2b07337b/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Stratalift Solutions</a>
                </ul>
        </div>
<!-- akhir dari link yang ada di header -->

        <div class="nav-container">
                <nav>
                    <img class="logo" src="../Elemen/Logo/Logo perusahaan.png" alt="" loading="lazy">
                    <ul>
                        <li>
                            <a href="#" class="active-nav">Beranda</a>
                        </li>
                        <li>
                            <a href="#">Tentang Kami</a>
                        </li>
                        <li>
                            <a href="#">Layanan</a>
                        </li>
                        <li>
                            <a href="#">Studi Kasus</a>
                        </li>
                        <li>
                            <a href="#">Berita</a>
                        </li>
                        <li>
                            <a href="#">Kontak</a>
                        </li>
                    </ul>
                </nav>

                <nav class="mobile-nav">
                    <div class="logo">
                        <img src="../Elemen/Logo/Logo perusahaan.png" alt="" loading="lazy">
                    </div>
                    <label class="menu-icon">
                        <input class="switcher" type="checkbox">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </label>

                </nav>
        </div>
        <!-- akhir dari deskop menu bar -->
    </header>
    <!-- akhir dari header -->

    <main>
        <div class="mobile-menu-container">
            <ul>
                        <li>
                            <a href="#" class="active-nav">Beranda</a>
                        </li>
                        <li>
                            <a href="#">Tentang Kami</a>
                        </li>
                        <li>
                            <a href="#">Layanan</a>
                        </li>
                        <li>
                            <a href="#">Studi Kasus</a>
                        </li>
                        <li>
                            <a href="#">Berita</a>
                        </li>
                        <li>
                            <a href="#">Kontak</a>
                        </li>
                    </ul>
        </div>
    </main>



    <footer>
        <div class="wrapper">
            <div class="footer">
                <div class="footer-links">
                    <div class="links">
                        <ul>
                            <li>
                                <img src="../Elemen/Icon/phone-fill-header.svg" alt="" loading="lazy">
                                <a href="https://api.whatsapp.com/send/?phone=6282245515021&text&type=phone_number&app_absent=0" target="_blank">(+62)822 4551 5021</a>
                            </li>
                            <li>
                                <img src="../Elemen/Icon/map-pin-header.svg" alt="" loading="lazy">
                                <a href="https://share.google/ThqnxXJIeSgoSLWhP" target="_blank">Rukan Mutiara Faza RB 1, Jl. Condet Raya No. 27, Jakarta Timur, DKI 13760</a>
                            </li>
                            <li>
                                <img src="../Elemen/Icon/linkedin-header.svg" alt="" loading="lazy">
                                <a href="https://www.linkedin.com/in/stratalift-solutions-a2b07337b/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Stratalift Solutions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-footer">
                        <img src="../Elemen/Logo/Logo perusahaan-footer.png" alt="" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2025 Stratalift Solutions </p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="template.js"></script>
</body>
</html>