:root {
    --dark-blue-color : #0F2C4C;
    --light-blue-color : #085984;
    --orange-color : #CF862A;
    --brown-color : #844208;
    --white-color : #fff;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Sen",sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper ul{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.header-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #085984;
    background: linear-gradient(90deg,rgba(8, 89, 132, 1) 0%, rgba(1, 46, 69, 1) 100%);
    margin: 0;
    padding-right: 50px;
    height: 45px;;
}

/* header links */
.header-links ul{
    display: flex;
    justify-content:flex-end;
    margin: 0;
    gap: 20px;
}

.header-links li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-links li a{
    color: white;
    font-size: 11px;
}

/* navigation bar (menu bar) */
.mobile-nav{
    display: none;
} 

nav.sticky{
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    top: 0;
    height: 70px;
    box-shadow: 10px 0px 5px black ;
}

.mobile-menu-container{
        display: none;
    }

nav.sticky .logo{
    height: 50px;
    width: auto;
    transition: all 0.3s ease;
}

nav{
    width: 100%;
    height: fit-content;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 210px;
    transition:all 0.3s ease;
}

nav .logo{
    width: 175px;
    height: 76px;
    transition: all 0.5s ease;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 700px;
}

nav li{
    padding: 5px;  
}

.active-nav{
    color: var(--dark-blue-color);
    text-decoration: underline solid var(--dark-blue-color) 2px;
    text-underline-offset: 5px;
}

nav a{
    color: black;
}

nav .judul-nav{
    color: black;
    font-weight:bolder ;
    transition: all 0.3s ease;
    font-size: 16px;
}

nav .judul-nav:hover, a:hover{
    color: var(--dark-blue-color);
    text-decoration: underline solid var(--dark-blue-color) 2px;
    text-underline-offset: 5px;
}

nav .drop-down-head .judul-nav{
    color: black;
    text-decoration: 0
}


nav .drop-down-head .judul-nav.judulAktif{
    color: var(--dark-blue-color);
    text-decoration: underline solid var(--dark-blue-color) 2px;
    text-underline-offset: 5px;
}

/* drop down menu */
.drop-down-head{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--white-color);
    border-width: 0;
    padding: 2.5px;
}

.drop-down .drop-down-head img{
    transition: all 0.3s ease-in-out;
}

.drop-down{
    position: relative;
    width: 100%;
    max-width: max-content;
    padding: 0;
    height: 26px;
}

.drop-down .sub-menu{
    z-index: 100;
    width: max-content;
    padding: 0 15px;
    margin: 0;
    background-color: #085984;
    position: absolute;
    top: 200%;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: .5s all ease-in-out;
}

.sub-menu .sub-menu-container{
    width: 200px;
    height: 220px;
    display: grid;
    justify-content: space-between;
}

.drop-down .sub-menu li{
    margin:0;
    display: flex;
    align-items: center;
}

.drop-down .sub-menu a{
    font-size: 13px;
    margin: 10px 0;
    color: #fff;
}

.drop-down .sub-menu a:hover{
    font-size: 13px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #CF862A;
    text-decoration-thickness: 3px;
}

.drop-down .sub-menu.dropAktif{
    max-height: 500px;
    transition: 0.6s ease-in-out;
}

/* footer */
footer{
    padding: 80px 0;
    background-color: #0F2C4C;
}

.footer .footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 20px;
}

.links ul{
    padding: 0;
    display: grid;
    gap: 20px;
}

.links li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 11;
}

.copyright p{
    font-size: 15px;
    margin: 20;
    text-align: center;
    color: white;
}

.scroll-anim {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease-out;
    filter: blur(5px);
}

.scroll-anim.aktif {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

/* tambahan pada under maintenance*/
.wrapper{
    display: grid;
    justify-items: center;
}

.judul{
    margin-top: 40px;
}

.judul h1{
    font-size: 56px;
    text-align: center;
    color: #0F2C4C;
}

.under-maintain-picture{
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 350px;
}

.deskripsi{
    padding: 20px 100px 0 100px;
}

.deskripsi p{
    font-size: 23px;
    color: #085984;
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
}

.tombol-balik{
    height: 100%;
    max-height: 100vh;
    margin: 20px 0 40px 0;
}

.tombol-balik button{
    height: 50px;
    width: 200px;
    background-color: #0F2C4C;
    border-radius: 5px;
}

.tombol-balik a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

/* Pad Configuration */
@media(max-width: 1100px) {
    /* header*/
    .mobile-nav{
        display: none;
    }

    .wrapper{
        width: 915px;
    }

    .header-links .link-logo{
        scale: 65%;
    }
    .header-links li a{
        font-size: 10px;
    }

    /* navigation */
    nav{
    padding: 10px 50px;
    }

    nav .logo{
        scale: 85%;
    }

    .mobile-menu-container{
        display: none;
    }
}

@media(max-width: 800px){
    header{
        position: relative;
        z-index: 100;
    }

    .header-links li a{
        font-size: 8px;
    }
    
    /* navigation menu */
    nav{
        display: none;
    }

    main .mobile-menu-container{
        display: block;
    }

    .mobile-nav.stickyMobile{
        z-index: 100;
        position: fixed;
        background-color: #fff;
        top: 0;
        height: 70px;
        box-shadow: 10px 0px 5px black ;
        transition:all 0.3s ease;
    }

    .mobile-nav{
       width: 100%;
       max-width:768px ;
        height: 100px;
        z-index: 200;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px 10px 30px; 
        transition:all 0.3s ease;
    }

    .mobile-nav.stickyMobile .menu-icon{
        scale: 60%;
        transition:all 0.3s ease;
    }

    .mobile-nav .menu-icon.erase{
        opacity: 0;
        pointer-events: none;
    }

    .mobile-menu-container .active-nav{
        color: var(--orange-color);
        text-decoration: underline solid var(--orange-color) 2px;
        text-underline-offset: 5px;
    }

    .mobile-nav .logo{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        transition:all 0.3s ease;
    }

    .logo img{
        height: 100%;
        transition:all 0.3s ease;
    }

    /* mulai icon burger */
    .switcher{
        display: none;
    }

    .menu-icon{
        position: relative;
        width: 40px;
        height: 25px;
        cursor: pointer;
        left: 0;
    }

    .hamburger-line{
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: var(--dark-blue-color);
        top: 0;
        transition: 0.25 all ease-in-out;
    }

    .hamburger-line:nth-child(2){
        top: 0;
        transition: 0.5s all ease-in-out;
    }

    .hamburger-line:nth-child(3){
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s all ease-in-out;
    }

    .hamburger-line:nth-child(4){
        top: auto;
        bottom: 0;
        transition: 0.3s all ease-in-out;
    }

    .switcher:checked ~ .hamburger-line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s all ease-in-out;
    }

    .switcher:checked ~ .hamburger-line:nth-child(3) {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }

    .switcher:checked ~ .hamburger-line:nth-child(4) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.3s all ease-in-out;
    }
    /* akhir */

    .wrapper{
        width: 100%;
        max-width: 768px;
        padding: 50px;
    }

    footer{
        padding: 10px;
        width: 100%;
        max-width: 768px;
    }

    footer .wrapper{
        padding: 0;
    }

    .links li img{
        scale: 75%;
    }

    .footer .footer-links{
        padding: 10px 30px;
    }

    .links li a{
        width: 270px;
        font-size:13px;
    }

    .logo-footer{
        scale: 70%;
    }


    /* tambahan drop down event */

    .mobile-menu-container{
        width: 100%;
        max-width: 768px;
        z-index: 10;
        position: fixed;
        height: max-content;
        transition:all 0.3s ease;
        max-height: 0px;
        overflow: hidden;
    }

    .mobile-menu-container.active{
        z-index: 100;
        transition: all 400ms ease;
        max-height: 1000px;
    }

    .mobile-menu-container.stickyMobileContainer{
        top: 70px;
        position: fixed;
        background-color: #fff;
        max-height: 0;
        box-shadow: 10px 0px 5px black ;
        overflow: hidden;
        transition: max-height .4s all ease-in-out;
    }

    .mobile-menu-container.stickyMobileContainer.active{
        transition:all 0.3s ease;
        max-height: 1000px;
        transition: max-height .4s all ease-in-out;
    }

    .mobile-menu-container ul{
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .mobile-menu-container .judul-nav{
        height: auto;
        font-size: 18px;
        padding:20px 20px;
        background-color: #0F2C4C;
        border-bottom: 2px solid white;
    }

    .mobile-menu-container li a{
        color: white;
        padding: 10px;
    }

        .mobile-menu-container .drop-down-mobile{
        display: grid;
        padding: 0;
        border-bottom: 2px solid var(--white-color);
    }

    .drop-down-mobile .drop-down-head{
        background-color: var(--dark-blue-color);
        color: var(--white-color);
        height: 100%;
        width: 100%;
        padding: 20px 0;
        pointer-events: auto;
    }

    .drop-down-mobile .drop-down-head .judul-nav{
        font-size: 18px;
        padding: 0 5px 0 30px;
        border: 0;
        height: fit-content;
    }

    .drop-down-mobile .drop-down-head img{
        transition: .4s all ease-in-out;
    }

    .sub-menu-mobile li{
        background-color: var(--light-blue-color);
        padding: 19px 50px;
        border-bottom: 1px solid #CF862A;
        border-top: 1px solid #CF862A;
        font-size: 16px;
    }

    .sub-menu-mobile{
        max-height: 0;
        overflow: hidden;
        transition: .4s all ease-in-out;
        padding: 0;
    }

    .sub-menu-mobile.dropAktif{
        max-height: 500px;
        transition: .4s all ease-in-out;
    }
}

@media(max-width: 450px){
    .wrapper{
        width: 100%;
        max-width: 450px;
    }

        .header-links li a{
        font-size: 5px;
        width: 100%;
        max-width: 120px;
    }

    .header-links .link-logo{
        height: auto;
        width: 20px;
    }

    .header-links{
        width: 100%;
        max-width: 100vw;
        padding: 0;
        margin: 0;
        justify-content: space-around;
    }

    .header-links ul{
        padding: 15px;
    }

    header .mobile-nav{
       width: 100%;
       max-width:450px ;
       height: 100px;
       z-index: 200;
       background-color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px 30px; 
       transition:all 0.3s ease;
    }

    .mobile-nav .logo{
        height: 40px;
        width: auto;
        align-items: center;
    }

    .mobile-nav .menu-icon{
        scale: 65%;
        display: flex;
        justify-content: flex-end;
    }

    footer {
        background: #085984;
        background: linear-gradient(90deg,rgba(8, 89, 132, 1) 0%, rgba(1, 46, 69, 1) 100%);
        padding: 20px 0;
        width: 100%;
        max-width: 100%;
    }

    footer .wrapper {
        padding: 0;
    }

    .footer .footer-links {
        display: grid;
        justify-content: start; 
        justify-items: start;
        align-items: center;
        gap: 15px;
        padding: 10px 20px; 
    }

    .footer .footer-links .links li img {
        width: 20px; 
        height: auto;
        object-fit: contain;
    }

    .footer .footer-links .links li a {
        font-size: 12px; 
        text-align: left;
        width: auto;
    }

    .footer .logo-footer {
        display: block;
        width: 350px;
        height: auto;
        margin-left: -45px;   
        
        margin-right: auto;
        margin-top: 20px;  
    }
    
    .footer .logo-footer img {
        width: 100%;
        display: block;
    }


    /* tambahan */
    .wrapper{
        max-width: 300px;
        margin: 0;
        padding: 0 25px;
    }

    .under-maintain-picture dotlottie-wc{
        scale: 80%;
    }

    .judul h1{
        font-size: 25px;
        width: 100%;
    }

    .judul{
        width: 100%;
        max-width: 200px;
    }

    .deskripsi{
        width: 100%;
        max-width: 250px;
        padding: 5px;

    }
}