:root {
    --dark-blue-color : #0F2C4C;
    --light-blue-color : #085984;
    --orange-color : #CF862A;
    --brown-color : #844208;
    --white-color : #fff;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Sen",sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper ul{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.scroll-anim {
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease-out;
    filter: blur(5px);
}

.scroll-anim.aktif {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

@keyframes munculPelan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* header */
.header-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #085984;
    background: linear-gradient(90deg,rgba(8, 89, 132, 1) 0%, rgba(1, 46, 69, 1) 100%);
    margin: 0;
    padding-right: 50px;
    height: 45px;;
}

/* header links */
.header-links ul{
    display: flex;
    justify-content:flex-end;
    margin: 0;
    gap: 20px;
}

.header-links li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-links li a{
    color: white;
    font-size: 11px;
}

/* navigation bar (menu bar) */
.mobile-nav{
    display: none;
} 

nav.sticky{
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    top: 0;
    height: 70px;
    box-shadow: 10px 0px 5px black ;
}

.mobile-menu-container{
        display: none;
    }

nav.sticky .logo{
    height: 50px;
    width: auto;
    transition: all 0.3s ease;
}

nav{
    width: 100%;
    height: fit-content;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 210px;
    transition:all 0.3s ease;
}

nav .logo{
    width: 175px;
    height: 76px;
    transition: all 0.5s ease;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

nav li{
    padding: 5px;  
}

.active-nav{
    color: var(--dark-blue-color);
    text-decoration: underline solid var(--dark-blue-color) 2px;
    text-underline-offset: 5px;
}

nav li a{
    color: black;
    font-family: "Sen",sans-serif;
    font-weight:bolder ;
    transition: all 0.3s ease;
}

nav li a:hover{
    color: var(--dark-blue-color);
    text-decoration: underline solid var(--dark-blue-color) 2px;
    text-underline-offset: 5px;
}

/* main atau body */
.kepala-menu{
    width: 100%;
    max-width: 100vw;
    height: 347px;
    margin: 0;
    padding: 0;
    animation: munculPelan 2s ease-out;
}

.container-kepala-menu{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-kepala-menu img{
    position: absolute;
    top: -120%;
    object-fit: cover;
    width: 100%;
    filter: brightness(75%);
}

.container-kepala-menu h1{
    position: absolute;
    color: white;
    font-size: 45px;
    font-weight: 700;
    top: 65%;
    left: 13.5%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
/* akhir dari gambar pembuka */

.visi-misi{
    margin: 20px 0;
    text-align: center;
    height: max-content;
    border-bottom: 3px solid #0F2C4C;
}

.visi-misi .wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    animation: dropPelan 1s ease-out;
}

.visi-misi h3{
    color: #0F2C4C;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #CF862A;
    text-decoration-thickness: 2px;
}

.visi-misi p{
    color: #0F2C4C;
    margin-top: 10px;
}

.visi-misi .visi{
    margin: 20px;
}

.visi-misi .misi{
    margin: 20px;
}
/* akhir dari visi misi */

.core-value{
    width: 100%;
    max-width: 100vw;
    height: 350px;
}

.core-value .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0px;
}

.core-value .core-value-text{
    color: #0F2C4C;
    width: 500px;
    height: auto;
}

.core-value h2{
    font-size: 55PX;
    font-weight: 800;
    margin: 0;
}

.core-value p{
    margin-top: 30px;
}

.core-value .core-value-gambar{
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.core-value-gambar img{
    position: absolute;
    object-fit: cover;
}

.core-value ,.core-value-gambar img{
    filter: brightness(85%);
}


/* akhir dari deskripsi core value */

.core-pocket{
    height: max-content;
    padding-bottom: 50px;
    border-bottom: 2px solid #0F2C4C;
}

.core-pocket .kotak{
    height: 119px;
    display: flex;
    width: 100%;
    max-width: 100vw;
    gap: 10px;
    align-items: center;
    
    margin-bottom: 20px;
    padding: 10px;
}

.kotak h1{
    margin: 10px 10px 10px 20px;
    font-size: 75px;
    font-weight: 900;
}

.kotak .kotak-desc h3, p{
    margin: 2px;
}

.kotak .kotak-desc h3{
    font-weight: 750;
}

.kotak.k1{
    border-radius: 5px;
    background-color: #0F2C4C;
    border: 2px solid #0F2C4C;
    color: #fff;
}

.kotak.k2{
    border-radius: 5px;
    background-color: #085984;
    border: 2px solid #085984;
    color: #fff;
}

.kotak.k3{
    border-radius: 5px;
    background-color: #0F7EB9;
    border: 2px solid #0F7EB9;
    color: #fff;
}

.kotak.k4{
    border-radius: 5px;
    background-color: #844208;
    border: 2px solid #844208;
    color: #fff;
}

.kotak.k5{
    border-radius: 5px;
    background-color: #CF862A;
    border: 2px solid #CF862A;
    color: #fff;
}

.kotak.k6{
    border-radius: 5px;
    background-color: #844208;
    border: 2px solid #844208;
    color: #fff;
}

.kotak.core-value-aktif{
    scale: 110%;
    transition: all 0.8s ease-in-out;
}
/* akhir dari core value pocket */

.core-services{
    margin: 50px 0;
    width: 100%;
    max-width: 100vw;
    height: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
}

.core-services h2{
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 35px;
    font-weight: 780;
    color: #0F2C4C;
    text-decoration: underline;
    text-decoration-color: #CF862A;
    text-decoration-line: 2px;
    text-underline-offset: 6px;
}

.core-services .core-service-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 87px;
}

.servicebox{
    display: grid;
    justify-items: center;
    border:2px solid #0F2C4C;
    background-color: #0F2C4C;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.servicebox.core-aktif{
    background-color: #fff;
    scale: 110%;
    transition: all 500ms ease-in-out;
}

.servicebox.core-aktif a{
    color: #0F2C4C;
}

.core-image{
    position: relative;
    margin: 10px;
    width: 100%;
    max-width: 450px;
    height: 310px;
}

.core-image h3{
    position: absolute;
    font-size: 30px;
    width: 150px;
    bottom: 5%;
    left: 5%;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.core-image img{
    width: 100%;
    height: 100%;
    filter: brightness(55%);
    border-radius: 5px;
    object-fit: cover;
}

.servicebox a{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #CF862A;
    text-decoration-line: 2px;
    text-underline-offset: 6px;
}


/* footer */
footer{
    padding: 80px 0;
    background: #085984;
    background: linear-gradient(90deg,rgba(8, 89, 132, 1) 0%, rgba(1, 46, 69, 1) 100%);
}

.footer .footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 20px;
}

.links ul{
    padding: 0;
    display: grid;
    gap: 20px;
}

.links li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links li a{
    text-decoration: none;
    color: white;
    font-size: 11;
}

.copyright p{
    font-size: 15px;
    margin: 20;
    text-align: center;
    color: white;
}

/* Pad Configuration */
@media(max-width: 1100px) {
    /* header*/
    .mobile-nav{
        display: none;
    }

    .wrapper{
        width: 915px;
    }

    .header-links .link-logo{
        scale: 65%;
    }
    .header-links li a{
        font-size: 10px;
    }

    /* navigation */
    nav{
    padding: 10px 50px;
    }

    nav .logo{
        scale: 85%;
    }

    .mobile-menu-container{
        display: none;
    }

    .core-services .core-service-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    }

    .servicebox{
        width: 450px;
        height: auto;
        transition: all 2s ease-in-out;
    }

    .core-image{
        width: 100%;
        max-width: 430px;
        height: 245px;
    }

   
}

@media(max-width: 800px){
    header{
        position: relative;
        z-index: 100;
    }

    .header-links li a{
        font-size: 8px;
    }
    
    /* navigation menu */
    nav{
        display: none;
    }

    main .mobile-menu-container{
        display: block;
    }

    .mobile-nav.stickyMobile{
        z-index: 100;
        position: fixed;
        background-color: #fff;
        top: 0;
        height: 70px;
        box-shadow: 10px 0px 5px black ;
    }

    .mobile-nav{
       width: 100%;
       max-width:768px ;
        height: 100px;
        z-index: 200;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px 10px 30px; 
        transition:all 0.3s ease;
    }

    .mobile-nav.stickyMobile .menu-icon{
        scale: 60%;
        transition:all 0.3s ease;
    }

    .mobile-nav .menu-icon.erase{
        opacity: 0;
        pointer-events: none;
    }

    .mobile-menu-container .active-nav{
    color: var(--orange-color);
    text-decoration: underline solid var(--orange-color) 2px;
    text-underline-offset: 5px;
    }

    .mobile-nav .logo{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        transition:all 0.3s ease;
    }

    .logo img{
        height: 100%;
        transition:all 0.3s ease;
    }

    .menu-icon{
        scale: 80%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:all 0.3s ease;
    }

    /* Gambar awal */
    .container-kepala-menu img{
        top: 0;
        left: 0;
    }

    /* Core Value */
    .core-value{
        padding: 50px;
        height: max-content;
    }

    .core-value .wrapper{
        gap: 20px;
    }

    .core-value-text h2{
        font-size: 40px;
    }

    .core-value-text p{
        font-size: 14;
        max-width: 300px;
    }

    .core-value-gambar img{
        top: 0;
        left: -25%;
    }

    /* service box */
    .servicebox{
        width: 100%;
        max-width: 325px;
    }

    .core-image{
        width: 100%;
        max-width: 300px;
        height: 245px;
    }


    .wrapper{
        width: 100%;
        max-width: 768px;
        padding: 50px;
    }

    footer{
        padding: 10px;
        width: 100%;
        max-width: 768px;
    }

    footer .wrapper{
        padding: 0;
    }

    .links li img{
        scale: 75%;
    }

    .footer .footer-links{
        padding: 10px 30px;
    }

    .links li a{
        width: 270px;
        font-size:13px;
    }

    .logo-footer{
        scale: 70%;
    }

    .mobile-menu-container{
        width: 100%;
        max-width: 768px;
        top: -220px;
        z-index: -1;
        position: fixed;
        height: max-content;
    }

    .mobile-menu-container.active{
        top: 140px;
        z-index: 100;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .cross-icon{
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-container.stickyMobileContainer{
        z-index: -1;
        position: fixed;
        background-color: #fff;
        top: -295px;
        height: 70px;
        box-shadow: 10px 0px 5px black ;
    }

    .mobile-menu-container .cross-icon{
        scale: 5%;
        position: fixed;
        top: -307px;
        left: 33.5%;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.stickyMobileContainer.active{
        top: 70px;
        z-index: 100;
    }

    .mobile-menu-container.stickyMobileContainer.active .cross-icon{
            opacity: 1;
            pointer-events: auto;
        }

    .mobile-menu-container.stickyMobileContainer .cross-icon{
        scale: 3%;
        position: fixed;
        z-index: 100;
        top: -367px;
        left: 33.7%;
        opacity: 1;
        pointer-events: none;
    }

    .mobile-menu-container ul{
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .mobile-menu-container li{
        height: auto;
        padding:20px 0;
        background-color: #0F2C4C;
        border-bottom: 2px solid white;
    }
    .mobile-menu-container li a{
        color: white;
        padding: 10px;
    }
}

@media(max-width: 450px){
    .wrapper{
        width: 100%;
        max-width: 450px;
    }

    .header-links li a{
        font-size: 5px;
    }

    .header-links .link-logo{
        height: auto;
        width: 20px;
    }

    header .mobile-nav{
       width: 100%;
       max-width:450px ;
       height: 100px;
       z-index: 200;
       background-color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px 30px; 
       transition:all 0.3s ease;
    }

    .mobile-nav .logo{
        height: 40px;
        width: auto;
        align-items: center;
    }

    .mobile-nav .menu-icon{
        scale: 65%;
        display: flex;
        justify-content: flex-end;
    }

    .mobile-menu-container .cross-icon{
        scale: 3%;
        position: fixed;
        top: -307px;
        left: -88px;
        opacity: 0;
        pointer-events: none;
    }

    .mobile-menu-container.stickyMobileContainer .cross-icon{
        scale: 3%;
        position: fixed;
        z-index: 100;
        top: -367px;
        left: -88px;
        opacity: 1;
        pointer-events: none;
    }

    footer {
        padding: 20px 0;
        width: 100%;
        max-width: 100%;
    }

    footer .wrapper {
        padding: 0;
    }

    .footer .footer-links {
        display: grid;
        justify-content: start; 
        justify-items: start;
        align-items: center;
        gap: 15px;
        padding: 10px 20px; 
    }

    .footer .footer-links .links li img {
        width: 20px; 
        height: auto;
        object-fit: contain;
    }

    .footer .footer-links .links li a {
        font-size: 12px; 
        text-align: left;
        width: auto;
    }

    .footer .logo-footer {
        display: block;
        width: 350px;
        height: auto;
        margin-left: -45px;   
        
        margin-right: auto;
        margin-top: 20px;  
    }
    
    .footer .logo-footer img {
        width: 100%;
        display: block;
    }

}